body {
  /* background-image: url(coffee-5009730_960_720.webp); */
  background-color: rgb(70, 60, 60);
}

.Clock {
  position: absolute;
  color: rgb(23, 219, 23);
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 40px;
  font-family: Orbitron;
  letter-spacing: 7px;
}
